#envs
.venv/*

#folders
.cache/
drim/
outputs/
src/data/
src/configs/optuna_unimodal_config.yaml
src/configs/multistage_optuna_unimodal_config.yaml
src/configs/schedule

#logging
multirun/
.neptune/
wandb/

# files
*.ipynb
*.pyc
*.csv
*.txt
*.ipynb_checkpoints
scaler_data.json
nohup.out
train_debug.log