experiment_name: "rsna_mae_survival_random_final_version"
n_epochs: 50
n_intervals: 20
random_seed: 1380

optimizer:
    name: "Adam"
    params:
        lr: 1e-3 # 2e-5
        weight_decay: 1e-2

scheduler: 
    name: "CosineAnnealingLR"
    params:
        eta_min: 5e-6


type: "unimodal"
strategy: "mae" # mae, survival
modalities: ["rna"]
architecture: "MAE"
splits: 5
data_path: "src/data/dataset.csv"
root_path: "../"
save_path : "outputs/models/"
rna_dataset_path: "src/data/rna_dataset.csv"
device: "cuda:2"
remove_nan_column: 'RNA'
batch_size: 24

log:
    logging: True
    wandb_project: "cancer_mtcp"
    wandb_run_name: "test_rna_encoder"